In [93]:
import pandas as pd 
train_df = pd.read_csv("Train.csv")
train_df

,Gender,Height (cm),Weight (kg),Blood Pressure (s/d),Cholesterol Level (mg/dL),BMI,Blood Glucose Level (mg/dL),Bone Density (g/cm²),Vision Sharpness,Hearing Ability (dB),...,Family History,Cognitive Function,Mental Health Status,Sleep Patterns,Stress Levels,Pollution Exposure,Sun Exposure,Education Level,Income Level,Age (years)
0,Male,171.148359,86.185197,151/109,259.465814,29.423017,157.652848,0.132868,0.200000,58.786198,...,NaN,44.059172,Good,Insomnia,2.797064,5.142344,7.108975,NaN,Medium,89
1,Male,172.946206,79.641937,134/112,263.630292,26.626847,118.507805,0.629534,0.267312,54.635270,...,Heart Disease,45.312298,Good,Normal,9.339930,7.272720,3.918489,Undergraduate,Medium,77
2,Female,155.945488,49.167058,160/101,207.846206,20.217553,143.587550,0.473487,0.248667,54.564632,...,Hypertension,56.246991,Poor,Insomnia,9.234637,8.500386,5.393408,NaN,Medium,70
3,Female,169.078298,56.017921,133/94,253.283779,19.595270,137.448581,1.184315,0.513818,79.722963,...,Hypertension,55.196092,Poor,Insomnia,4.693446,7.555511,2.745578,NaN,Low,52
4,Female,163.758355,73.966304,170/106,236.119899,27.582078,145.328695,0.434562,0.306864,52.479469,...,NaN,53.023379,Good,Normal,4.038537,9.429097,3.878435,Undergraduate,High,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,Male,161.632502,88.323405,134/91,204.175510,33.807917,112.075747,1.583006,0.665907,27.997736,...,Diabetes,57.820282,Fair,Normal,8.091897,9.846088,9.111205,Undergraduate,High,22
2996,Male,163.443512,93.217007,110/78,197.384424,34.894725,101.177692,1.785129,0.720304,32.866623,...,Heart Disease,68.783715,Good,Normal,2.427081,1.141303,8.578184,Undergraduate,Medium,19
2997,Male,177.857644,86.258847,159/116,238.641542,27.268332,110.548146,0.366012,0.200000,39.756270,...,NaN,50.133807,Fair,Normal,7.671837,5.101134,2.199199,Undergraduate,Low,85
2998,Female,162.287164,41.371018,134/82,198.244328,15.708252,123.704379,1.452963,0.648158,43.338594,...,Hypertension,68.864629,Good,Insomnia,7.920076,4.452130,5.051613,NaN,High,30
2999,Male,175.341710,78.718038,167/91,279.118184,25.603762,156.577316,0.704319,0.578625,43.926230,...,Hypertension,60.892114,Poor,Insomnia,8.013913,4.624968,3.745138,High School,High,66

In [94]:
clean_df = train_df.drop(["Gender","Smoking Status", "Alcohol Consumption", "Diet", "Family History", "Mental Health Status", "Sleep Patterns", "Stress Levels", "Pollution Exposure", "Sun Exposure", "Income Level"], axis='columns')
clean_df

,Height (cm),Weight (kg),Blood Pressure (s/d),Cholesterol Level (mg/dL),BMI,Blood Glucose Level (mg/dL),Bone Density (g/cm²),Vision Sharpness,Hearing Ability (dB),Physical Activity Level,Chronic Diseases,Medication Use,Cognitive Function,Education Level,Age (years)
0,171.148359,86.185197,151/109,259.465814,29.423017,157.652848,0.132868,0.200000,58.786198,Moderate,NaN,NaN,44.059172,NaN,89
1,172.946206,79.641937,134/112,263.630292,26.626847,118.507805,0.629534,0.267312,54.635270,Low,Hypertension,NaN,45.312298,Undergraduate,77
2,155.945488,49.167058,160/101,207.846206,20.217553,143.587550,0.473487,0.248667,54.564632,Moderate,Hypertension,Regular,56.246991,NaN,70
3,169.078298,56.017921,133/94,253.283779,19.595270,137.448581,1.184315,0.513818,79.722963,Moderate,Diabetes,Occasional,55.196092,NaN,52
4,163.758355,73.966304,170/106,236.119899,27.582078,145.328695,0.434562,0.306864,52.479469,Low,NaN,NaN,53.023379,Undergraduate,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,161.632502,88.323405,134/91,204.175510,33.807917,112.075747,1.583006,0.665907,27.997736,Moderate,Hypertension,Regular,57.820282,Undergraduate,22
2996,163.443512,93.217007,110/78,197.384424,34.894725,101.177692,1.785129,0.720304,32.866623,Low,Diabetes,Occasional,68.783715,Undergraduate,19
2997,177.857644,86.258847,159/116,238.641542,27.268332,110.548146,0.366012,0.200000,39.756270,Moderate,NaN,NaN,50.133807,Undergraduate,85
2998,162.287164,41.371018,134/82,198.244328,15.708252,123.704379,1.452963,0.648158,43.338594,Moderate,Diabetes,Regular,68.864629,NaN,30
2999,175.341710,78.718038,167/91,279.118184,25.603762,156.577316,0.704319,0.578625,43.926230,High,Hypertension,NaN,60.892114,High School,66

In [95]:
columns_with_empty_cells = clean_df.columns[clean_df.isna().any()].tolist()
columns_with_empty_cells

['Chronic Diseases', 'Medication Use', 'Education Level']

In [96]:
i=1
for col in columns_with_empty_cells:
    clean_df[col] = clean_df[col].fillna(f"None{i}")
    i+=1
clean_df

,Height (cm),Weight (kg),Blood Pressure (s/d),Cholesterol Level (mg/dL),BMI,Blood Glucose Level (mg/dL),Bone Density (g/cm²),Vision Sharpness,Hearing Ability (dB),Physical Activity Level,Chronic Diseases,Medication Use,Cognitive Function,Education Level,Age (years)
0,171.148359,86.185197,151/109,259.465814,29.423017,157.652848,0.132868,0.200000,58.786198,Moderate,None1,None2,44.059172,None3,89
1,172.946206,79.641937,134/112,263.630292,26.626847,118.507805,0.629534,0.267312,54.635270,Low,Hypertension,None2,45.312298,Undergraduate,77
2,155.945488,49.167058,160/101,207.846206,20.217553,143.587550,0.473487,0.248667,54.564632,Moderate,Hypertension,Regular,56.246991,None3,70
3,169.078298,56.017921,133/94,253.283779,19.595270,137.448581,1.184315,0.513818,79.722963,Moderate,Diabetes,Occasional,55.196092,None3,52
4,163.758355,73.966304,170/106,236.119899,27.582078,145.328695,0.434562,0.306864,52.479469,Low,None1,None2,53.023379,Undergraduate,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,161.632502,88.323405,134/91,204.175510,33.807917,112.075747,1.583006,0.665907,27.997736,Moderate,Hypertension,Regular,57.820282,Undergraduate,22
2996,163.443512,93.217007,110/78,197.384424,34.894725,101.177692,1.785129,0.720304,32.866623,Low,Diabetes,Occasional,68.783715,Undergraduate,19
2997,177.857644,86.258847,159/116,238.641542,27.268332,110.548146,0.366012,0.200000,39.756270,Moderate,None1,None2,50.133807,Undergraduate,85
2998,162.287164,41.371018,134/82,198.244328,15.708252,123.704379,1.452963,0.648158,43.338594,Moderate,Diabetes,Regular,68.864629,None3,30
2999,175.341710,78.718038,167/91,279.118184,25.603762,156.577316,0.704319,0.578625,43.926230,High,Hypertension,None2,60.892114,High School,66

In [97]:
clean_df[['Systolic Blood Pressure', 'Diastolic Blood Pressure']] = clean_df["Blood Pressure (s/d)"].str.split('/', expand=True)
clean_df

,Height (cm),Weight (kg),Blood Pressure (s/d),Cholesterol Level (mg/dL),BMI,Blood Glucose Level (mg/dL),Bone Density (g/cm²),Vision Sharpness,Hearing Ability (dB),Physical Activity Level,Chronic Diseases,Medication Use,Cognitive Function,Education Level,Age (years),Systolic Blood Pressure,Diastolic Blood Pressure
0,171.148359,86.185197,151/109,259.465814,29.423017,157.652848,0.132868,0.200000,58.786198,Moderate,None1,None2,44.059172,None3,89,151,109
1,172.946206,79.641937,134/112,263.630292,26.626847,118.507805,0.629534,0.267312,54.635270,Low,Hypertension,None2,45.312298,Undergraduate,77,134,112
2,155.945488,49.167058,160/101,207.846206,20.217553,143.587550,0.473487,0.248667,54.564632,Moderate,Hypertension,Regular,56.246991,None3,70,160,101
3,169.078298,56.017921,133/94,253.283779,19.595270,137.448581,1.184315,0.513818,79.722963,Moderate,Diabetes,Occasional,55.196092,None3,52,133,94
4,163.758355,73.966304,170/106,236.119899,27.582078,145.328695,0.434562,0.306864,52.479469,Low,None1,None2,53.023379,Undergraduate,79,170,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,161.632502,88.323405,134/91,204.175510,33.807917,112.075747,1.583006,0.665907,27.997736,Moderate,Hypertension,Regular,57.820282,Undergraduate,22,134,91
2996,163.443512,93.217007,110/78,197.384424,34.894725,101.177692,1.785129,0.720304,32.866623,Low,Diabetes,Occasional,68.783715,Undergraduate,19,110,78
2997,177.857644,86.258847,159/116,238.641542,27.268332,110.548146,0.366012,0.200000,39.756270,Moderate,None1,None2,50.133807,Undergraduate,85,159,116
2998,162.287164,41.371018,134/82,198.244328,15.708252,123.704379,1.452963,0.648158,43.338594,Moderate,Diabetes,Regular,68.864629,None3,30,134,82
2999,175.341710,78.718038,167/91,279.118184,25.603762,156.577316,0.704319,0.578625,43.926230,High,Hypertension,None2,60.892114,High School,66,167,91

In [98]:

clean_df['Systolic Blood Pressure'] = clean_df['Systolic Blood Pressure'].astype(int)
clean_df['Diastolic Blood Pressure'] = clean_df['Diastolic Blood Pressure'].astype(int)
clean_df.pop("Blood Pressure (s/d)")
clean_df

,Height (cm),Weight (kg),Cholesterol Level (mg/dL),BMI,Blood Glucose Level (mg/dL),Bone Density (g/cm²),Vision Sharpness,Hearing Ability (dB),Physical Activity Level,Chronic Diseases,Medication Use,Cognitive Function,Education Level,Age (years),Systolic Blood Pressure,Diastolic Blood Pressure
0,171.148359,86.185197,259.465814,29.423017,157.652848,0.132868,0.200000,58.786198,Moderate,None1,None2,44.059172,None3,89,151,109
1,172.946206,79.641937,263.630292,26.626847,118.507805,0.629534,0.267312,54.635270,Low,Hypertension,None2,45.312298,Undergraduate,77,134,112
2,155.945488,49.167058,207.846206,20.217553,143.587550,0.473487,0.248667,54.564632,Moderate,Hypertension,Regular,56.246991,None3,70,160,101
3,169.078298,56.017921,253.283779,19.595270,137.448581,1.184315,0.513818,79.722963,Moderate,Diabetes,Occasional,55.196092,None3,52,133,94
4,163.758355,73.966304,236.119899,27.582078,145.328695,0.434562,0.306864,52.479469,Low,None1,None2,53.023379,Undergraduate,79,170,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,161.632502,88.323405,204.175510,33.807917,112.075747,1.583006,0.665907,27.997736,Moderate,Hypertension,Regular,57.820282,Undergraduate,22,134,91
2996,163.443512,93.217007,197.384424,34.894725,101.177692,1.785129,0.720304,32.866623,Low,Diabetes,Occasional,68.783715,Undergraduate,19,110,78
2997,177.857644,86.258847,238.641542,27.268332,110.548146,0.366012,0.200000,39.756270,Moderate,None1,None2,50.133807,Undergraduate,85,159,116
2998,162.287164,41.371018,198.244328,15.708252,123.704379,1.452963,0.648158,43.338594,Moderate,Diabetes,Regular,68.864629,None3,30,134,82
2999,175.341710,78.718038,279.118184,25.603762,156.577316,0.704319,0.578625,43.926230,High,Hypertension,None2,60.892114,High School,66,167,91

In [99]:
non_integer_columns = clean_df.select_dtypes(exclude=['int', 'int64'])
print(non_integer_columns.columns)

Index(['Height (cm)', 'Weight (kg)', 'Cholesterol Level (mg/dL)', 'BMI',
       'Blood Glucose Level (mg/dL)', 'Bone Density (g/cm²)',
       'Vision Sharpness', 'Hearing Ability (dB)', 'Physical Activity Level',
       'Chronic Diseases', 'Medication Use', 'Cognitive Function',
       'Education Level'],
      dtype='object')

In [100]:
get_dummy = ["Chronic Diseases","Medication Use", "Education Level", "Physical Activity Level"]
for dummy_column in get_dummy:
    clean_df = pd.concat([clean_df,pd.get_dummies(clean_df[dummy_column])], axis="columns")
    clean_df.pop(dummy_column)
clean_df

,Height (cm),Weight (kg),Cholesterol Level (mg/dL),BMI,Blood Glucose Level (mg/dL),Bone Density (g/cm²),Vision Sharpness,Hearing Ability (dB),Cognitive Function,Age (years),...,None2,Occasional,Regular,High School,None3,Postgraduate,Undergraduate,High,Low,Moderate
0,171.148359,86.185197,259.465814,29.423017,157.652848,0.132868,0.200000,58.786198,44.059172,89,...,True,False,False,False,True,False,False,False,False,True
1,172.946206,79.641937,263.630292,26.626847,118.507805,0.629534,0.267312,54.635270,45.312298,77,...,True,False,False,False,False,False,True,False,True,False
2,155.945488,49.167058,207.846206,20.217553,143.587550,0.473487,0.248667,54.564632,56.246991,70,...,False,False,True,False,True,False,False,False,False,True
3,169.078298,56.017921,253.283779,19.595270,137.448581,1.184315,0.513818,79.722963,55.196092,52,...,False,True,False,False,True,False,False,False,False,True
4,163.758355,73.966304,236.119899,27.582078,145.328695,0.434562,0.306864,52.479469,53.023379,79,...,True,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,161.632502,88.323405,204.175510,33.807917,112.075747,1.583006,0.665907,27.997736,57.820282,22,...,False,False,True,False,False,False,True,False,False,True
2996,163.443512,93.217007,197.384424,34.894725,101.177692,1.785129,0.720304,32.866623,68.783715,19,...,False,True,False,False,False,False,True,False,True,False
2997,177.857644,86.258847,238.641542,27.268332,110.548146,0.366012,0.200000,39.756270,50.133807,85,...,True,False,False,False,False,False,True,False,False,True
2998,162.287164,41.371018,198.244328,15.708252,123.704379,1.452963,0.648158,43.338594,68.864629,30,...,False,False,True,False,True,False,False,False,False,True
2999,175.341710,78.718038,279.118184,25.603762,156.577316,0.704319,0.578625,43.926230,60.892114,66,...,True,False,False,True,False,False,False,True,False,False

In [104]:
xtrain = clean_df.drop("Age (years)", axis="columns")
xtrain

,Height (cm),Weight (kg),Cholesterol Level (mg/dL),BMI,Blood Glucose Level (mg/dL),Bone Density (g/cm²),Vision Sharpness,Hearing Ability (dB),Cognitive Function,Systolic Blood Pressure,...,None2,Occasional,Regular,High School,None3,Postgraduate,Undergraduate,High,Low,Moderate
0,171.148359,86.185197,259.465814,29.423017,157.652848,0.132868,0.200000,58.786198,44.059172,151,...,True,False,False,False,True,False,False,False,False,True
1,172.946206,79.641937,263.630292,26.626847,118.507805,0.629534,0.267312,54.635270,45.312298,134,...,True,False,False,False,False,False,True,False,True,False
2,155.945488,49.167058,207.846206,20.217553,143.587550,0.473487,0.248667,54.564632,56.246991,160,...,False,False,True,False,True,False,False,False,False,True
3,169.078298,56.017921,253.283779,19.595270,137.448581,1.184315,0.513818,79.722963,55.196092,133,...,False,True,False,False,True,False,False,False,False,True
4,163.758355,73.966304,236.119899,27.582078,145.328695,0.434562,0.306864,52.479469,53.023379,170,...,True,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,161.632502,88.323405,204.175510,33.807917,112.075747,1.583006,0.665907,27.997736,57.820282,134,...,False,False,True,False,False,False,True,False,False,True
2996,163.443512,93.217007,197.384424,34.894725,101.177692,1.785129,0.720304,32.866623,68.783715,110,...,False,True,False,False,False,False,True,False,True,False
2997,177.857644,86.258847,238.641542,27.268332,110.548146,0.366012,0.200000,39.756270,50.133807,159,...,True,False,False,False,False,False,True,False,False,True
2998,162.287164,41.371018,198.244328,15.708252,123.704379,1.452963,0.648158,43.338594,68.864629,134,...,False,False,True,False,True,False,False,False,False,True
2999,175.341710,78.718038,279.118184,25.603762,156.577316,0.704319,0.578625,43.926230,60.892114,167,...,True,False,False,True,False,False,False,True,False,False

In [106]:
yTrain = clean_df["Age (years)"]
yTrain

0       89
1       77
2       70
3       52
4       79
        ..
2995    22
2996    19
2997    85
2998    30
2999    66
Name: Age (years), Length: 3000, dtype: int64

In [113]:
from torch import nn, optim, Tensor

xTrainNumpy = xtrain.to_numpy()
yTrainNumpy = yTrain.to_numpy()

In [111]:
xTrainNumpy.shape

(3000, 25)

In [114]:
yTrainNumpy.shape

(3000,)